/* General reset for margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

/* Header Section */
.header {
  padding: 80px;
  text-align: center;
  background: #48D1CC;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.header p {
  font-size: 20px;
  font-weight: 300;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Skills Section */
.skills-section {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.skills-section h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Collapsible Section */
details {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
  font-size: 18px;
}

details summary:hover {
  background-color: #ccc;
}

details[open] summary {
  background-color: #bbb;
}

.skills {
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.6;
}

/* Footer Section */
.footer {
  padding: 20px;
  font-weight: 300;
  text-align: center;
  background: #ddd;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 20px;
  transition: transform 0.3s ease-out;
  margin: 0 1rem;
}

.contact-details:hover { 
  transform: translateY(8px);
}

/* Selection */
::-moz-selection { /* Code for Firefox */
  color: black;
  background: lightblue;
}

::selection {
  color: black;
  background: lightblue;
}

/* Media Query for small screens */
@media (max-width: 700px) {
  .skills-section h3 {
    font-size: 22px;
  }

  .skills {
    font-size: 14px;
  }

  details summary {
    font-size: 16px;
  }

  .skills-section {
    padding: 30px 10px;
  }
}
