/* General Styles */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px;
}

header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

.navbar {
    text-align: center;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Skills Section */
.skills-expertise-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.skills {
    list-style-type: none;
    padding-left: 0;
}

.skills li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.skills li details {
    cursor: pointer;
}

/* Custom arrow for list items */
.skills li details summary {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.skills li details summary::before {
    content: '\2192'; /* Rightward arrow */
    margin-right: 10px;
}

/* Contact Section */
.contact-section {
    padding: 20px;
}

.contact-links a {
    font-size: 1.2em;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.contact-links a:hover {
    color: #0073e6;
}

/* Font Awesome icons */
.fab, .fas {
    font-size: 1.5em;
    margin-right: 10px;
}
